{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {% if message == 'Payment successfully processed!' %}
         <p  style="color: green;">{{ message }}</p>
            {% else %}
        <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
<h5 style="color: white; text-align: right; padding: 15px; letter-spacing: 2px;">Wallet: Rs. {{wallet}}</h5>

<div class="box">
	<h1>Send Money</h1>
    <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="amount" placeholder="Rs. Amount" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Add</button>
    </form>
</div>
{% endblock %}